@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --muted: #a0a0a0;
  --primary: #c0163c;
  --primary-foreground: #ffffff;
  --modal: #fafafa;
  --modal-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-muted: var(--muted);

  --color-modal: var(--modal);
  --color-modal-foreground: var(--modal-foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --modal: #1a1a1a;
    --modal-foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
